body {
    /* font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif; */
    margin: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: inherit;
  }

html {
    height: 100%;
}

.nav-custom {
    background: rgb(29,29,157);
    background: linear-gradient(90deg, rgba(29,29,157,1) 0%, rgba(140,185,222,1) 100%);
    height: 80px;
}
nav a {
    color: white;
    margin-right: 40px;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    
}

nav a:hover{
    color: white;    
}


.material-icons.profile{
    font-size: 60px; 
}

.post {
    padding: 1rem;
    background-color: #C4C4C4;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer{
    padding: 1rem;
    background-color: #888787;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer p {
    font-size: 10px;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

textarea {
    min-height: 45px;
}

.text-container {
    width: 90%;
    margin: 0.5rem auto;
    padding: 1rem;
}

h1 {
    padding-top: 0.5rem;
    font-size: 4em;
}

.about-bio h2 {
    font-size: large;
}

.about-bio p {
    font-size: small;
}

.about-bio {
    background-color: #C4C4C4;
    width: 85%;
    margin: 1.5rem auto;
    display: flex;
}

.about-bio img {
    height: 150px;
}

/* new */
.sidebar {
    background-color: #F8F5E2;
    width: 300px;
}

.mainContainer{
    display: flex;
    flex: 1;
    height: 100%;
}

.sidebar a {
    color:rgba(29,29,157,1);
}

.sidebar a:hover {
    color:grey;
}

.sidebar p {
    font-family: monospace;
    font-size: x-large;
}

li {
    margin: 3px;
}

@media (min-width: 768px) {
    .about-bio h2 {
        font-size: larger;
    }

    .about-bio p {
     font-size: medium;   
    }

    .about-bio img {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .about-bio img {
        height: 220px;
    }
}
